.agentInfo__content {
    border: 1px solid gray;
    margin-top: 20px;

    .agentInfo__header {
        border-bottom: 1px solid gray;
        padding: 10px;
        background: linear-gradient(180deg, green 0%, #07B902 100%);
        color: #fff;
    }

    .agentInfo__body {
        background-color: #C1FFBF;
        padding: 10px;
        font-weight: 500;

        a {
            font-weight: 600;
            text-decoration: none;
            color: #0000ff;
        }
    }
}